<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"] - Web_DongHo</title>


    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>Timups</title>

  @await RenderSectionAsync("CSS", required: false)
 <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

          <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="~/UserAssets/css/bootstrap.css" />
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="~/UserAssets/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="~/UserAssets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="~/UserAssets/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/UserAssets/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/UserAssets/assets/css/font.awesome.css" />
    <link rel="stylesheet" href="~/UserAssets/assets/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/UserAssets/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/UserAssets/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/UserAssets/assets/css/venobox.css">
    <link rel="stylesheet" href="~/UserAssets/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/UserAssets/assets/css/style.css">

</head>

<body>
    <div class="hero_area">
    <div class="hero_social">
      <a href="">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Timups
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="watches.html"> Laptop </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
            <div class="user_option-box">
              <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    @RenderBody()
  </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>